name: mkdocs
on:
  push:
    branches:
      - dev
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: |
          pip install "mkdocs==1.6.0" \
                      "mkdocs-material" \
                      "mkdocstrings==0.22.0" \
                      "mkdocstrings-python==1.3.*"
          pip uninstall -y mkdocs-autorefs
      - run: mkdocs gh-deploy --force
        working-directory: docs
